.mb-4 {
  margin-bottom: 1rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}